
/*------- GOOGLE FONT IMPORT -------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*------- ROOT VARIABLES -------*/
:root {
    font-family: "Noto Serif";
    --dark_green: #1f2421;
    --light_purple: #c9b1bd;
    --green: #52796F;
    --light_green: #84A98C;
    --pale_green: #CAD2C5;
}

/*------- NAVBAR-------*/
.logo-text,
.navbar-brand {
    font-family: "Bebas Neue";
}

.navbar {
    background-color:  rgba(255,255,255, 0.1);
}

.logo-text{
    font-weight: 600;
    font-size: 35px;
    color: var(--dark_green);
}

.logo {
    height: 40px;
    width: 40px;
    color: var(--dark_green);
    margin-right: 10px
}

.show {
    display: block !important;
  }  

.navbar.show {
    background-color: rgba(255, 255, 255, 0.1);
}

.hide {
    display: none;
}

.nav-link {
    font-weight: 600;
}

/*------- INDEX PAGE -------*/

#index-hero-image {
    /*background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/media/images/hadrianswall.webp");
    margin-top: -100px;
    height: 90vh;
    object-fit: cover;
  }

header h1,
h1,
h2 {
    color: var(--dark_green);
    font-weight:500;
    font-family: "Bebas Neue";
}

.index-card {
    width: 50%;
    background-color: rgba(255,255,255, 0.6);
    padding: 15px;
    margin: 200px;
    /*border: 1px solid var(--dark_green);*/
}

.index-card p{
    font-weight: 500;
}

.input-group {
    justify-content: center;
    margin-top: 10px;
}

.form-outline {
    height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .register {
    margin-right: 20px;
  }

.btn {
    background-color: var(--light_green);
}

.search-logo {
    height: 20px;
    width: 20px;
}

h2 {
    text-align: center;
}

.position-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-post {
    margin-right: 50px;
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/*------- LOGIN -------*/

#hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/media/images/hadrianswall.webp");
    margin-top: -100px;
    height: 350px;
    object-fit: cover;
}

.form-style {
    height: 300px;
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.6);
}

.director {
    margin-right: 10px;
}

/*------- ADD_HIKE -------*/

.icon {
    margin-left: 5px;
    padding: 10px;
    height: 30px;
    width: 30px;
    background-color: var(--light_purple);
    border-radius: 50px;
}

/*------- FOOTER -------*/

footer {
    background-color: rgba(255,255,255);
    padding-top: 20px;
    padding-left: 10px;
}

footer h3 {
    font-family: "Bebas Neue";
    font-weight: 600;
    color: var(--dark_green);
}

.footer-links {
    padding: 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links li a {
    font-family: var(--font-family);
    color: black;
    align-items: center;
    text-decoration: none;
}

.socials {
    height:30px;
    width:30px;
    color:var(--light_green);
}

.socials li a img {
    margin-right: 10px;
}

li::marker {
    content: none;
}