
/*------- GOOGLE FONT IMPORT -------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');




/*------- ROOT VARIABLES -------*/
:root {
    font-family: "Noto Serif";
    --dark_green: #1f2421;
    --light_purple: #c9b1bd;
    --green: #52796F;
    --light_green: #84A98C;
    --pale_green: #CAD2C5;
}


.logo_text,
.navbar-brand {
    font-family: "Caveat";
}

.logo_text{
    font-weight: 700;
    font-size: 40px;
    color: var(--dark_green);
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/media/images/hadrianswall.webp");
  }

  .container {
    margin-top: 400px;
}

header h1, p {
    color: var(--dark_green);
    font-weight:600;
}

.card {
    width: 50%;
    background-color: rgba(202, 210, 197,0.6);
}
