/*------- GOOGLE FONT IMPORT -------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*------- ROOT VARIABLES -------*/
:root {
    --font-family: "Noto Serif";
    --dark_green: #1f2421;
    --green: #52796F;
    --light_green: #84A98C;
    --pale_green: #CAD2C5;
}

/*------- NAVBAR-------*/
.logo-text,
.navbar-brand {
    font-family: "Bebas Neue";
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

.logo-text {
    font-weight: 600;
    font-size: 30px;
    color: var(--dark_green);
}

.logo {
    height: 35px;
    width: 35px;
    color: var(--dark_green);
    margin-right: 10px
}

.show {
    display: block !important;
}

.navbar.show {
    background-color: rgba(255, 255, 255, 0.5);
}

.hide {
    display: none;
}

.nav-link {
    font-weight: 500;
    font-size: 30px;
    font-family: "Bebas Neue";
}

.nav-link.active:hover {
    color: #37403b;
}

.flash h4 {
    background-color: var(--light_green);
    font-family: "Bebas Neue";
    padding: 2px 0 3px 0;
    margin: 10px auto;
}

.flash h4 {
    font-size: 35px;
}

.close-btn {
    float: right;
    cursor: pointer;
    color: #fff;
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

/*------- INDEX PAGE -------*/

.hero {
    position: relative;
    width: 100vw;
    height: fit-content;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/static/media/images/hadrianswall.webp);
}

#categories-hero {
    height: 43vh;
}

/*#categories-hero:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);  The transparent overlay 
    pointer-events: none;  Ensures the overlay does not interfere with any user interactions *
}*/

/*#index-hero-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/media/images/hadrianswall.webp");
    margin-top: -100px;
    height: 90vh;
    object-fit: cover;
}*/

header h1,
h1,
h2 {
    color: var(--dark_green);
    font-weight: 500;
    font-family: "Bebas Neue";
    text-align: center;
}

.index-card {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    margin: 200px;
}

.index-card p {
    font-weight: 500;
}

.input-group {
    justify-content: center;
    margin-top: 10px;
}

.form-outline {
    height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.register {
    margin-right: 20px;
}

.btn {
    background-color: var(--light_green);
}

.btn-delete {
    background-color: #fe5757;
}

.btn:hover {
    background-color: var(--pale_green);
}

.search-logo {
    height: 20px;
    width: 20px;
}

.position-cards {
    display: flex;
    justify-content: center;
}

.card-post-index {
    margin: 0 30px;
    width: 25rem;
    height: 40rem;
}

.card-post-categories {
    margin: 0 30px;
    padding: 10px;
    width: 25rem;
    height: fit-content;
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.btn-align {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

/*------- LOGIN -------*/

.form-style {
    width: 500px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.director {
    margin-right: 10px;
}

/*------- ADD_HIKE -------*/

.icon {
    margin-left: 5px;
    padding: 10px;
    height: 30px;
    width: 30px;
    background-color: var(--light_green);
    border-radius: 50px;
}

.icon:hover {
    background-color: var(--pale_green);
}

.change {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_green);
    cursor: pointer;
}

.change:hover {
    color: var(--green);
}

/*.form-sizing {
    border: 1px solid var(--dark_green);
    border-radius: 5px;
    padding: 5px 10px;
}*/

label {
    font-family: "Bebas Neue";
    font-size: 18px;
}

#description {
    min-width: 100%;
    max-width: 100%
}


/*------- CATEGORIES -------*/

.card-title {
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
}

.margin-top {
    margin-top: 110px;
}

.small-font {
    font-family: var(--font-family);
    font-size: 18px;
}

/*------- FOOTER -------*/

footer {
    background-color: rgba(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
}

footer h3 {
    font-family: "Bebas Neue";
    font-weight: 600;
    color: var(--dark_green);
}

.footer-links {
    padding: 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links li a {
    font-family: var(--font-family);
    color: black;
    align-items: center;
    text-decoration: none;
}

.socials {
    height: 30px;
    width: 30px;
    color: var(--light_green);
}

.socials li a img {
    margin-right: 10px;
}

li::marker {
    content: none;
}

.error{
    display:flex;
}

.error_handler {
    
}


/*--------MEDIA Query <600px --------*/

@media only screen and (max-width: 600px) {

    .logo {
        height: 30px;
        width: 30px;
        color: var(--dark_green);
        margin: 0;
    }

    .logo-text {
        font-weight: 600;
        font-size: 30px;
        color: var(--dark_green);
    }

    div.col {
        flex: 1 0 100%;
    }

    .card-post {
        margin: 0;
        width: 100%;
        height: fit-content;
    }

    .sm-screens {
        flex: 1 1 45%;
        max-width: 100%;
    }


    #description {
        min-width: 80%;
    }

    .form-style {
        width: 100%;
    }

    .form-group,
    .btn {
        margin-left: 3px;
        text-align: center;
        margin-top: 15px;
    }

    .footer-links li,
    .socials li {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
    }

    .footer-links li,
    .socials li {
        margin-bottom: 0.5rem;
    }

    .socials li {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }
}