{%  extends "base.html" %}
{% block content %}
<!-- Heor image and page heading -->
<div id="categories-hero" class="hero"></div>
    <div class="container text-center">
        <div class="row g-0 align-items-center">
            <div class="col">
                <h1 class="mt-3">Categories</h1>
                <a class="change" href="{{ url_for('add_category') }}">Add A Category <img class="icon"
                        src="/static/media/images/icons/plus-line-icon.png" alt="plus icon"></a>
            </div>
        </div>
    </div>
    <div>
        <!-- Flash message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash">
            <h4 class="mt-4 text-white text-center">{{ message }}
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;
                </span>
            </h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <section>
        <!-- Card display for category -->
        <div class="row g-0">
            {% for category in categories %}
            <div class="col-12 col-md-4">
                <div class="position-cards">
                    <div class="card card-post card-post-categories mt-4 mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ category.category_name }}</h2>
                            <p class="card-text"></p>
                            <!-- Edit/delete buttons from user unless they are the category creator -->
                            {% if session['user_id'] == category.created_by %}
                            <div class="btn-align">
                                <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn">Edit</a>
                                <a href="{{ url_for('delete_category', category_id=category.id) }}"
                                    class="btn btn-delete">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}