{%  extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <h1>Edit Hike</h1><img class="icon" src="/static/media/images/icons/plus-line-icon.png">
        </div>
    </div>
</div>
<section>
    <div class="form-style">
        <!-- ADD CATEGORY form -->
        <form method="POST" action="{{ url_for('edit_hike', category_id=category.id) }}">
            <!-- Input for add category -->
            <div class="form-group col-12">
                <label class="mb-3 mt-2" for="hike_title">Hike Name</label>
                <input type="text" class="form-control" id="hike_title" name="hike_title" placeholder="Edit Hike"
                    min-length="4" max-length="50" required>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn ml-auto mt-3">Edit Hike</button>
        </form>
    </div>
</section>
{% endblock %}