{%  extends "base.html" %}
{% block content %}

<header id="index-hero-image">
  <div class="container lead">
    <div class="row align-items-center justify-content-center text-center">
      <div class="card index-card">
        <h1 class="mt-1 mb-1">Welcome to Take A Hike</h1>
        <p class="text-center">Search for a hike, share your experiences and meet new friends</p>
        <p class="text-center">Join our club and begin exploring our community</p>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <a class="btn btn-lg mt-3 register" href="{{ url_for('register') }}">Register</a>
    <a class="btn btn-lg mt-3" href="{{ url_for('login') }}">Login</a>
  </div>
</section>
<section>
  <h2 class="mt-5 mb-2">Need inspiration? Check out these walks...</h2>
    <div class="row">
        {% for hike in hikes %}
        <div class="col">
            <div class="position-cards">
                <div class="card card-post mt-4 mb-4" style="width: 20rem;">
                    <img class="card-img-top" src="{{ hike.image_url }}"
                            alt="{{ hike.hike_title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ hike.hike_title }}</h5>
                        <p>Distance: {{ hike.distance }}</p>
                        <p>Elevation: {{ hike.elevation }}</p>
                        <p>Difficulty: {{ hike.difficulty }}</p>
                        <p>Category: {{ hike.category.category_name }}</p>
                        <p>Description: {{ hike.description }}</p>
                        <a href="{{ url_for('edit_hikes', hike_id=hike.id) }}" class="btn">Edit</a>
                        <a href="" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}