{%  extends "base.html" %}
{% block content %}

<header id="index-hero-image">
  <div class="container lead">
    <div class="row align-items-center justify-content-center text-center">
      <div class="card index-card">
        <h1 class="mt-1 mb-1">Welcome to Take A Hike</h1>
        <p class="text-center">Search for a hike, share your experiences and meet new friends</p>
        <p class="text-center">Join our club and begin exploring our community</p>
      </div>
    </div>
  </div>
</header>
<section>

</section>
<section>
  <h2>Need inspiration? Check out these walks...</h2>
  <div class="position-cards">
    <div class="card card-post" style="width: 20rem;">
      <img src="/static/media/images/castle.webp" class="card-img-top"
        alt="A photograph of sunset over Dunstanburgh Castle">
      <div class="card-body">
        <h5 class="card-title">Dunstanburgh Castle</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">Add A Comment</a>
      </div>
    </div>
    <div class="card card-post" style="width: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn">Add A Comment</a>
      </div>
    </div>
    <div class="card card-post" style="width: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn">Add A Comment</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}