{%  extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <h1>My Hikes</h1>
            <a class="change" href="{{ url_for('add_hike') }}">Add A Hike<img class="icon" src="/static/media/images/icons/plus-line-icon.png"></a>
        </div>
    </div>
</div>
<section>
    <div class="row">
        {% for hike in hikes %}
        <div class="col">
            <div class="position-cards">
                <div class="card card-post mt-4 mb-4" style="width: 20rem;">
                    <img src="" class="" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ hike.hike_title }}</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn">Edit</a>
                        <a href="#" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}