{%  extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="row g-0 align-items-center">
        <div class="col">
            <h1 class="mt-3">Hikes</h1>
            <a class="change" href="{{ url_for('add_hike') }}">Add A Hike<img class="icon"
                    src="/static/media/images/icons/plus-line-icon.png" alt="plus icon"></a>
        </div>
    </div>
</div>
<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div  style="background-color: var(--green)">
            <h4 class="mt-4 text-white text-center">{{ message }} <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span></h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
<section>
    <div class="row g-0">
        {% for hike in hikes %}
        <div class="col">
            <div class="position-cards">
                <div class="card card-post mt-4 mb-4" style="width: 20rem;">
                    <img class="card-img-top" src="{{ hike.image_url }}"
                            alt="{{ hike.hike_title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ hike.hike_title }}</h2>
                        <p>Distance(km): {{ hike.distance }}</p>
                        <p>Elevation(m): {{ hike.elevation }}</p>
                        <p>Difficulty: {{ hike.difficulty }}</p>
                        <p>Category: {{ hike.category.category_name }}</p>
                        <p>{{ hike.description }}</p>
                        <div class="btn-align">
                        <a href="{{ url_for('edit_hike', hike_id=hike.id) }}" class="btn">Edit</a>
                        <a href="{{ url_for('delete_hike', hike_id=hike.id) }}" class="btn btn-delete">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
